# AWS Configuration
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

# EventBridge
EVENT_BUS_NAME=workflow-event-bus-dev

# SQS Queue URLs (fill after CloudFormation deploy)
EVENT_BUFFER_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/527055790362/event-buffer-queue-dev
NOTIFICATION_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/527055790362/notification-queue-dev
DLQ_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/527055790362/event-buffer-dlq-dev

# SES
SES_FROM_EMAIL=demo-notif-36508@yopmail.com

# PostgreSQL (EC2)
PG_HOST=13.207.251.13
PG_DATABASE=rbacdb
PG_USER=lambdauser
PG_PASSWORD=Lambda@1234
PG_PORT=5432

# EC2
PG_EC2_INSTANCE_ID=i-0dda96ea16a03281d

# CloudFormation
LAMBDA_CODE_BUCKET=event-workflow-lambda-code

# Server
PORT=5000
