NODE_ENV=production
PORT=3002
HOST=0.0.0.0

# AWS Region
AWS_REGION=ap-south-1

# SNS Topic ARNs (order events)
SNS_TOPIC_ARN=<sns-topic-arn>

# SQS Queue URLs (order queue)
SQS_QUEUE_URL=<sqs-queue-url>
